@model IEnumerable<Entity.ModelViews.CategoryView>
@{
    ViewBag.Title = "Category";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@using CommonLib;
<div class="am-cf am-padding">
    <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">分类</strong> / <small>一些常用模块</small></div>
</div>
<hr>
<div class="am-g">
    <div class="am-u-sm-12 am-u-md-6">
        <div class="am-btn-toolbar">
            <div class="am-btn-group am-btn-group-xs">
                <button type="button" class="am-btn am-btn-default" onclick="categroy_operations('create')"><span class="am-icon-plus"></span> 新增</button>
                <button type="button" class="am-btn am-btn-default"><span class="am-icon-save"></span> 保存</button>
                <button type="button" class="am-btn am-btn-default"><span class="am-icon-archive"></span> 审核</button>
                <button type="button" class="am-btn am-btn-default"><span class="am-icon-trash-o"></span> 删除</button>
                <a class="am-btn am-btn-default" href="/Admin/Dashboard/Category_Create"><span class="am-icon-plus"></span> 新增</a>
            </div>
        </div>
    </div>
    <div class="am-u-sm-12 am-u-md-3">
        <div class="am-form-group">
            <select data-am-selected="{btnSize: 'sm'}">
                <option value="option1">所有类别</option>
            </select>
        </div>
    </div>
    <div class="am-u-sm-12 am-u-md-3">
        <div class="am-input-group am-input-group-sm">
            <input type="text" class="am-form-field">
            <span class="am-input-group-btn">
                <button onclick="select()" class="am-btn am-btn-default" type="button">搜索</button>
            </span>
        </div>
    </div>
</div>

<div class="am-g">
    <div class="am-u-sm-12">
        <form class="am-form">
            <table class="am-table am-table-striped am-table-hover table-main">
                <thead>
                    <tr>
                        <th class="table-check"><input type="checkbox" /></th>
                        <th class="table-id">@Html.DisplayNameFor(c => c.CategoryId)</th>
                        <th class="table-title">@Html.DisplayNameFor(c => c.CategroyTitle)</th>
                        <th class="table-type">@Html.DisplayNameFor(c => c.CategoryType)</th>
                        <th class="table-set">操作</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td><input type="checkbox" /></td>
                            <td>@item.CategoryId</td>
                            <td><a href="#">@item.CategroyTitle</a></td>
                            <td>@item.CategoryType</td>
                            <td>
                                <div class="am-btn-toolbar">
                                    <div class="am-btn-group am-btn-group-xs">
                                        <a class="am-btn am-btn-default am-btn-xs am-text-secondary" href="@Url.Action("Category_edit","Dashboard",new {id=item.CategoryId})"><span class="am-icon-pencil-square-o"></span> 编辑</a>
                                        <a class="am-btn am-btn-default am-btn-xs am-hide-sm-only"><span class="am-icon-copy"></span> 复制</a>
                                        <a class="am-btn am-btn-default am-btn-xs am-text-danger am-hide-sm-only" href="@Url.Action("Category_Del","Dashboard",new { id=item.CategoryId})"><span class="am-icon-trash-o"></span> 删除</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <hr />
            <hr />
            <hr />
            <!--分页开始-->
            @Html.PaperHelper("Admin","Category","Dashboard","2", (int)TempData["total"])
            <!--分页结束-->
            <p>注：.....</p>
        </form>
    </div>
</div>
@section Scripts{
    <script src="~/Scripts/custom.js"></script>
    }




