@model Entity.ModelViews.UserInfoView

@{
    Layout = null;
    string VCode = string.Empty;
    
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <link href="~/Content/Site.css" rel="stylesheet" />
</head>
<body>
    <div id="body">
        <section class="content-wrapper main-content clear-fix">
            <section id="loginForm">
                <h2>使用本地帐户登录。</h2>
                <form action="~/Admin/Account/Login" method="post">
                    @Html.AntiForgeryToken()
                    <fieldset>
                        <legend>登录你的帐户</legend>
                        <ol>
                            <li class="email">
                                @Html.LabelFor(model => model.UserName)
                                @Html.TextBoxFor(model => model.UserName)
                                @* 将任何用户名验证错误写入此页 *@
                                @Html.ValidationMessageFor(model => model.UserName)
                            </li>
                            <li class="password">
                                @Html.LabelFor(model => model.UserPwd)
                                @Html.TextBoxFor(model => model.UserPwd)
                                @* 将任何密码验证错误写入此页 *@
                                @Html.ValidationMessageFor(model => model.UserPwd)
                            </li>
                            <li class="VCode">

                            </li>
                            <li class="remember-me">
                                @Html.CheckBox("renmenberMe", false, new { id = "rememberMe", value = "true" })
                                <label class="checkbox" for="rememberMe">记住我?</label>
                            </li>
                        </ol>
                        <input type="submit" value="登录" />
                    </fieldset>
                </form>
                <p>
                    <a href="~/Account/Register">没有帐户?</a>
                    <a href="~/Account/ForgotPassword">忘记了密码?</a>
                </p>
            </section>

            <section class="social" id="socialLoginForm">
                <h2>使用其他服务登录.</h2>
                @*@RenderPage("/Admin/Account/Login")*@

            </section>
        </section>
</div>
</body>
</html>
